name: Code Quality

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  sonarcloud:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v7
        continue-on-error: true
        if: env.SONAR_TOKEN
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=Kacper-Chojnack_OrthoSense
            -Dsonar.organization=kacper-chojnack-1
            -Dsonar.sources=backend/app,lib
            -Dsonar.tests=backend/tests,test
            -Dsonar.python.coverage.reportPaths=backend/coverage.xml
            -Dsonar.flutter.coverage.reportPath=coverage/lcov.info
            -Dsonar.exclusions=**/*.g.dart,**/*.freezed.dart
            -Dsonar.qualitygate.wait=false
            -Dsonar.coverage.exclusions=**/__pycache__/**,**/tests/**,**/test/**,**/*_test.dart,**/*_test.py,**/generated/**,**/*.g.dart,**/*.freezed.dart,**/migrations/**,lib/main.dart
